# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.su

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Debug/
Hardware/oscar_panel.kicad_pcb-bak
*.gbr
Hardware/oscar.kicad_pcb-bak
*.sch-bak
*.kicad_pcb-bak
*.bak
*.drl
*.zip
*.svg
Hardware/_autosave-oscar.pro
